global
    #log /dev/log local0 debug

    maxconn {{ haproxy_max_connections }}
    chroot      /var/opt/rh/rh-haproxy18/lib/haproxy
    pidfile     /var/run/rh-haproxy18-haproxy.pid
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket {{ haproxy_stats_socket }}

    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /haproxy
    stats auth admin:{{ haproxy_stats_password }}

listen postgresql
    bind *:5000
    option httpchk
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
{% for host in groups[cluster_name] %}
    server postgresql_{{ hostvars[host]['node_name'] }} {{ hostvars[host]['ansible_default_ipv4']['address'] }}:5432 maxconn {{ haproxy_max_connections }} check port 8008
{% endfor %}
